@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply placeholder:text-sm w-96 py-3 px-4 rounded-lg bg-stone-900/100  text-stone-100 font-normal text-sm focus:outline-none  transition-all duration-100 focus:ring-1 focus:ring-amber-400  focus:ring-offset-stone-900;
  }
}
